body {
  font-size: 16px;
  color: #fff;
  background-color: #0C1098;
  font-family: 'Oxygen', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}


h2 {
  margin: 10px;
  text-align: center;
}

.description {
  margin: 10px;
  background-color: #383EEA;
  border-radius: 3px;
}


/** HEADER **/
#header-nav {
  background-color: white;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.menu-style {
  text-align: center;
  background-color: #ABB1E4;
}